<div class="container design-form ">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1 class = "text-center">Up an article</h1>
      <%= render 'form', article: @article %>
    </div>
  </div>
</div>
